
code/.DS_Store
.DS_Store
!code/user_interface
code/user_interface/__pycache__/ui.cpython-39.pyc
!code/baseline_scores
!code/utils
code/profile_data/*
!code/profile_data/baseline_profiles.py
!code/profile_data/evaluation_profiles.py
code/utils/__pycache__
code/__pycache__/generate_baseline_datasets_and_scores.cpython-39.pyc
code/__pycache__/instagram_analysis_pipeline.cpython-39.pyc
code/__pycache__/__init__.cpython-39.pyc
